homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_lat
  longitude: !secret home_long
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 122
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: !secret home_timezone

  customize: !include customize.yaml
# Enables the frontend
frontend:
  themes:
    green:
      primary-color: "#2beb09"
    cyan_green:
      primary-color: "#04e3cd"
    magenta:
      primary-color: "#f70aff"
    purple:
      primary-color: "#911a8f"
    cyan:
      primary-color: "#05cceb"

# Enables configuration UI
config:

http:
  # Uncomment this to add a password (recommended!)
  # api_password: PASSWORD
  # Uncomment this if you are using SSL or running in Docker etc
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

# Text to speech
tts:
  platform: google

emulated_hue:
  type: google_home
  host_ip: 192.168.1.75
  expose_by_default: true
  listen_port: 80
  exposed_domains:
    - light

camera:
  - platform: generic
    name: Kingsway
    still_image_url: http://trafficcams.vancouver.ca/cameraimages/KingswayWest_Earles.jpg
  - platform: generic
    name: Cambie Bridge
    still_image_url: http://trafficcams.vancouver.ca/cameraimages/SmitheEast_ExpoBlvd.jpg
  - platform: generic
    name: Robson
    still_image_url: http://trafficcams.vancouver.ca/cameraimages/RobsonWest_Hornby.jpg
  - platform: generic
    name: 7th
    still_image_url: http://trafficcams.vancouver.ca/cameraimages/MainSouth_Kingsway-07th.jpg

zwave:
  usb_path: /dev/ttyACM0
  new_entity_ids: true

group: !include groups.yaml
automation: !include_dir_merge_list automations
sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
remote: !include remote.yaml
input_select: !include input_select.yaml
#script: !include_dir_merge_list scripts
python_script: !include_dir_merge_list python_scripts
input_boolean: !include input_boolean.yaml
#scenes: !include scenes.yaml
#weblink: !include weblinks.yaml
