##################################################
# Home Modes
##################################################
# Turn on Sweet Dreams Mode.
- id: id_goodnight
  alias: 'Activate Good Night'
  trigger:
    - platform: state
      entity_id: input_boolean.goodnight
      from: 'off'
      to: 'on'
  action:
    - service: python_script.activate_sleep_mode
      data_template:
        randomNum: '{{ (range(0, 10)|random) }}' #sends random number to script

# Turn off Sweet Dreams Mode.
- id: id_goodMorning
  alias: 'Deactivate Sleepy Times Mode'
  trigger:
    - platform: time
      at: '05:50:00'
  action:
    - service: input_boolean.turn_off
      entity_id: input_boolean.goodnight

##################################################
# Bathroom door
##################################################
# #Guest bathroom door sensor - turn on
- id: id_guestBathroomDoorLight
  alias: 'Guest Bathroom Light Sensor'
  trigger:
    - platform: state
      entity_id: sensor.guest_bathroom_door
      from: 'Open'
      to: 'Closed'
  action:
    - service: light.turn_on
      entity_id: light.guest_bathroom

#Guest bathroom door sensor - turn off
- id: id_guestBathroomDoorLight
  alias: 'Guest Bathroom Light Sensor'
  trigger:
    - platform: state
      entity_id: sensor.guest_bathroom_door
      from: 'Closed'
      to: 'Open'
  action:
    - service: light.turn_off
      entity_id: light.guest_bathroom

##################################################
# Flux
##################################################
# - id: id_flux
#   alias: 'Flux'
#   trigger:
#     platform: state
#     entity_id: sensor.guest_bathroom_door
#     from: 'Open'
#     to: 'Closed'
#   action:
#     - service: python_script.dimmer
#       data_template:
#         entity_id: light.guest_bathroom
#         action: dim_up
#         level: 50
#
# - id: id_flux
#   alias: 'Flux'
#   trigger:
#     platform: state
#     entity_id: sensor.guest_bathroom_door
#     from: 'Closed'
#     to: 'Open'
#   action:
#     - service: python_script.dimmer
#       data_template:
#         entity_id: light.guest_bathroom
#         action: dim_down
#         level: 50

##################################################
# Fans
##################################################
# Turn off the bedroom fan in the morning
- id: id_turnOffBedroomFan
  alias: 'Turn off Bedroom Fan in the Morning'
  trigger:
    - platform: time
      at: '06:50:00'
  condition:
    - condition: time
      weekday:
        - mon
        - tue
        - wed
        - thu
        - fri
  action:
    - service: switch.turn_off
      entity_id: switch.bedroom_fan

# Turn off gaming room fan
- id: id_turnOffGamingFan
  alias: 'Turn off Gaming Room Fan'
  trigger:
    - platform: time
      at: '06:00:00'
  action:
    - service: switch.turn_off
      entity_id: switch.gaming_room_fan

# Turn on gaming room fan at night
- id: id_turnOnGamingFan
  alias: 'Turn on Gaming Room Fan'
  trigger:
    - platform: numeric_state
      entity_id: sensor.dark_sky_temperature
      below: 18
  condition:
    condition: time
    after: '20:00:00'
  action:
    - service: switch.turn_on
      entity_id: switch.gaming_room_fan

##################################################
# Light off
##################################################
# Turn off all lights on weekday mornings - weekdays
- id: id_turnOffAllLightsInMorning
  alias: 'Turn off Lights in Morning'
  trigger:
    - platform: time
      at: '07:00:00'
  condition:
    - condition: time
      weekday:
        - mon
        - tue
        - wed
        - thu
        - fri
  action:
    - service: light.turn_off
      entity_id: group.all_lights

# Turn off all lights in the morning - based on sun angle
- id: id_turnOffAllLightsInMorningEveryday
  alias: 'Turn off Lights in Morning Everyday'
  trigger:
      platform: numeric_state
      entity_id: sun.sun
      value_template: '{{ state.attributes.elevation }}'
      above: 7.5
  action:
    - service: light.turn_off
      entity_id: group.all_lights

##################################################
# Light on
##################################################
# Turn on lightstrip sunset - only if sweet dreams mode not on
- id: id_turnOnLightstripAtSunset
  alias: 'Turn on lightstrip at sunset'
  trigger:
    platform: numeric_state
    entity_id: sun.sun
    value_template: '{{ state.attributes.elevation }}'
    below: 10
  condition:
    condition: state
    entity_id: input_boolean.goodnight
    state: 'off'
  action:
    service: light.turn_on
    entity_id: light.lightstrip
    data:
      brightness_pct: 25


# Turn on lightstrip in the morning
- id: id_turnOnLightstripInMorning
  alias: 'Turn on lightstrip in the morning'
  trigger:
    - platform: time
      at: '05:30:00'
  action:
    service: light.turn_on
    entity_id: light.lightstrip
    data:
      brightness_pct: 25


##################################################
# Google Home
##################################################
# Set Google Home to Night Voice
- id: id_setGoogleHomeNightVoice
  alias: Set Google Home to Night Voice
  trigger:
    - platform: time
      at: '22:30:00'
  action:
    - service: media_player.volume_set
      entity_id: media_player.homeosaur
      data:
        volume_level: 0.20

# Set Google Home to Day Voice
- id: id_setGoogleHomeDayVoice
  alias: Set Google Home to Day Voice
  trigger:
    - platform: time
      at: '08:00:00'
  action:
    - service: media_player.volume_set
      entity_id: media_player.homeosaur
      data:
        volume_level: 0.45

##################################################
# Frontend Automations
##################################################
# Set the frontend theme on startup
- id: id_setFrontendThemeOnStartup
  alias: 'Set theme at startup'
  initial_state: 'on'
  trigger:
   - platform: homeassistant
     event: start
  action:
    service: frontend.set_theme
    data:
      name: purple

##################################################
# Testing
##################################################
- id: id_testingBoolean
  alias: 'Testing Boolean'
  trigger:
    - platform: state
      entity_id: input_boolean.testing
      from: 'off'
      to: 'on'
  action:
    service: light.turn_on
    entity_id: light.lightstrip
    data:
      brightness_pct: 25
