#Good Night from google home
- id: id_goodnight
  alias: 'Activate Good Night'
  trigger:
    - platform: state
      entity_id: input_boolean.goodnight
      from: 'off'
      to: 'on'
  action:
    - service: tts.google_say
      data:
        entity_id: media_player.homeosaur
        message: "Make sure Mohave is tucked in!"
    - service: switch.turn_on
      entity_id: switch.bedroom_fan
    - service: light.turn_off
      entity_id: group.all_lights
    - service: input_boolean.turn_off
      entity_id: input_boolean.goodnight

#Turn off the bedroom fan in the morning
- id: id_turnOffBedroomFan
  alias: 'Turn off Bedroom Fan in the Morning'
  trigger:
    - platform: time
      after: '06:50:00'
  condition:
    - condition: time
      weekday:
        - mon
        - tue
        - wed
        - thu
        - fri
  action:
    - service: switch.turn_off
      entity_id: switch.bedroom_fan

#Turn off all lights on weekday mornings
- id: id_turnOffAllLightsInMorning
  alias: 'Turn off Lights in Morning'
  trigger:
    - platform: time
      after: '07:00:00'
  condition:
    - condition: time
      weekday:
        - mon
        - tue
        - wed
        - thu
        - fri
  action:
    - service: light.turn_off
      entity_id: group.all_lights

#Turn off gaming room fan
- id: id_turnOffGamingFan
  alias: 'Turn off Gaming Room Fan'
  trigger:
    - platform: time
      after: '06:00:00'
  action:
    - service: switch.turn_off
      entity_id: switch.gaming_room_fan

#Turn on gaming room fan
- id: id_turnOnGamingFan
  alias: 'Turn on Gaming Room Fan'
  trigger:
    - platform: numeric_state
      entity_id: sensor.dark_sky_temperature
      below: 20
  condition:
    condition: time
    after: '20:00:00'
  action:
    - service: switch.turn_on
      entity_id: switch.gaming_room_fan

#Set Google Home to Night Voice
- id: id_setGoogleHomeNightVoice
  alias: Set Google Home to Night Voice
  trigger:
    - platform: time
      after: '22:00:00'
  action:
    - service: media_player.volume_set
      entity_id: media_player.homeosaur
      data:
        volume_level: 0.35

#Set Google Home to Day Voice
- id: id_setGoogleHomeDayVoice
  alias: Set Google Home to Day Voice
  trigger:
    - platform: time
      after: '08:00:00'
  action:
    - service: media_player.volume_set
      entity_id: media_player.homeosaur
      data:
        volume_level: 0.45
